<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/lunalite/css/lunalite.css">
    <link rel="stylesheet" type="text/css" href="assets/crux/css/widgets.css">
    <link rel="stylesheet" type="text/css" href="assets/app/css/index-css.css">
  </head>
  <body>
    <script id="entry-template" type="text/x-handlebars-template">
          {{#each options}}
            <option value="{{code}}" >{{value}}</option>
          {{/each}}
    </script>
    <header id="header">
      <div class="container title">
        <div class="row">
            <h1><a href="/">
              <i id="abclogo"></i>
                <em><small>Healthcare Expenditure </small></em>
                </a>
            </h1>
        </div>
      </div>
    </header>
    <div id="body">
      	<div class="filter-area">
          <div class="filter-type">
            <label id="type-label">Expenditure Type:</label>
            <select id="type-select">
            </select>
          </div>
          <div class="filter-by">
            <div class="filter-option">
              <div class="by-region">
                <input type="radio" value="Regional" name="view-by" id="region-id" checked>Regional
              </div>
              <div class="by-state">
                <input type="radio" value="State" name="view-by" id="state-id">State
              </div>
            </div>
            <div class="filter-value" >
              <select id="comparison-select">
              </select>
            </div>
          </div>
        </div>
        <div id="chartArea">
        </div>
    </div>
    <footer id="footer">
      <div class="container">
        <div id="copyright">
          Copyright © 2005-2014,
          <a href="http://advisory.com/" target="_blank">
            The Advisory Board Company
          </a>
        </div>
      </div>
    </footer>        
    <script src="assets/crux/js/libs/jquery.js"></script>
    <script src="assets/crux/js/libs/jquery-ui.custom.js"></script>
    <script src="assets/crux/js/libs/handlebars.js"></script>
    <script src="assets/crux/js/libs/lodash.underscore.js"></script>
    <script src="assets/crux/js/libs/moment.js"></script>
    <script src="assets/crux/js/modernizr/modernizr.custom.js"></script>
    <script src="assets/crux/js/modernizr/cs.support.js"></script>
    <script src="assets/crux/js/libs/spin.js"></script>
    <script src="assets/crux/js/common/cs.core.js"></script>
    <script src="assets/crux/js/common/cs.helpers.js"></script>
    <script src="assets/crux/js/common/cs.jquery.js"></script>
    <script src="assets/crux/js/common/cs.logo.js"></script>
    <script src="assets/crux/js/common/cs.visibility.js"></script>
    <script src="assets/crux/js/common/jquery.spin.js"></script>
    <script src="assets/crux/js/common/cs.queue.js"></script>
    <script src="assets/crux/js/widgets/cs.base.js"></script>
    <script src="assets/crux/js/widgets/cs.popover.js"></script>
    <script src="assets/crux/js/widgets/cs.ellipsr.js"></script>
    <script src="assets/crux/js/widgets/cs.loadr.js"></script>
    <script src="assets/crux/js/widgets/cs.selectr.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
    <script src="assets/app/js/charts.js"></script>
    <script src="assets/app/js/documentReady.js"></script>
  </body>
</html>