.filter-area{
	margin: 0px 10px;
}
.filter-area > div
{
  display: inline-block;
  float:left;
}
.filter-type{
	width:300px;
	margin-right: 15px;
}
.filter-by{
	width:200px;
}
.filter-option {
	display:inline-block;
	width:200px;
}
.by-region
{
	float: left;
	margin-right: 5px;
}
.by-state{
	float:left;
}
#type-label
{
	display: inline;
}
